/*Css Variables*/
:root {
    /*Page Colors*/
    --primary-color: #0A1128;
    --white-color: #ffffff;
    --light-gray-color: #eeeeee;
    --secondary-color: crimson;
    --placeholder-color: #929292;
    --gap: 3rem;
}

/*Reset Css*/
* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
/*Basic Fonts resize*/
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/*Fonts Defining*/
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

/*Fonts and elements p,a,H1,2,3,4,5 and 6 fonts resizing*/
h1 { 
    font-size: 6rem;
    text-transform: uppercase;
}

h2 { 
    font-size: 6rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}
 
h3 { 
    font-size: 5rem;
}

h4 { 
    font-size: 4.5rem;
}

h5 { 
    font-size: 4rem;
}

h6 { 
    font-size: 3.5rem;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 3rem;
}
/*Backgrounds*/
.main-background {
    background-image: url(../img/main-background-2.svg);
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.white-background {
    background: var(--white-color);
    color: var(--primary-color);
}

.main-content { 
    max-width: 120rem;
    margin: 0 auto;
    padding: 5rem var(--gap);
}

.section {
    min-height: 100vh;
}

/*Menu and related itens formating*/
.menu{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.1rem solid var(--light-gray-color);
    z-index: 1;
}

.menu-content { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu-spacing { 
    height: 6.5rem;;
}

/*Menu buttons formating*/
.menu ul{
    list-style: none;
    display: flex;
}

.menu ul li a{
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    position: relative;
}

/*Full width for Flex elements*/
.full-width { 
    flex: 1 1 100% !important; 
    width: 100% !important;
}

/*Menu buttons animation*/
.menu ul li a::after{
   content: '';
   position: absolute;
   bottom: 1rem;
   left: 50%;
   width: 0;
   height: 0.2rem;
   background: var(--secondary-color);
   transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after{
    width: 50%;
    left: 25%;
}

/*Menu logo formating*/
.menu h1 { 
    font-size: 2.3rem;    
    color: var(--primary-color);
}

.menu h1 a { 
    color: inherit;
}

/*Introduction Section Formating*/
.text-image-content {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: var(--gap);
    align-items: stretch;
    min-height: 100vh;
}

.text-content, .image-content { 
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
}



.image-content img{ 
    max-width: 90%;
    height: auto;
}


/*Tech Description content Formating*/
.tech-description-content { 
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
    max-width: 64rem;
}

/*Top 3 content Formating*/
.grid-one-content, .grid-two-content{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 100vh;
}

.grid-main-heading { 
    margin-bottom: 1rem;
}

.grid-description { 
    padding-bottom: 5rem;
}

.grid { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.grid h3{ 
    font-size: 3rem;
    position: relative;
    padding-left: 6rem;
    padding-bottom: 2rem;
}

.grid h3::before{ 
    counter-increment: grid-counter;
    font-size: 8rem;
    content: counter(grid-counter);
    position: absolute;
    font-style: italic;
    top: -3rem;
    left: -1rem;
    transform: rotate(5deg);
}

/*Galery Image content Formating*/
.gallery-image { 
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.gallery-image img {
    transition: all 300ms ease-in;
}

.gallery-image img:hover {
    transform: translate(-3%, -3%) scale(1.2);
}

/*Galery Image content Formating*/
.contact-form {
    grid-column: span 2;
}

.contact-form .form-grid {
    border: none;
    display: flex;
    flex-flow: row wrap;
    gap: var(--gap);
}

.form-group {
    flex: 1 1 32rem;
}

.form-group label {
    display: block;
}

.form-group input, 
.form-group textarea {
    border: solid 1px var(--primary-color);
    border-radius: 1rem;
    background-color: var(--white-color);
    padding: 1.5rem 2rem;
    font-size: 2rem;
    width: 100%;    
}

.form-group button { 
    border: 0.3rem solid var(--primary-color);
    color: var(--primary-color);
    background-color: var(--white-color);
    padding: 1.5rem 2rem;
    font-size: 1.75rem;;
    font-weight: bolder;
    border-radius: 1rem;
    cursor: pointer;
    transition:  all 400ms ease-in-out;
}

.form-group button:hover { 
    color: var(--white-color);
    background-color: var(--primary-color);
}

.form-group ::placeholder {
    color: var(--placeholder-color);
}

.form-grid {
    font-style: italic;
    font-size: 2rem;
    margin-bottom: 3rem;
}

/*Footer formating section*/
.footer { 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer p { 
    text-align: center;
    padding: 3rem;
    margin: 0;
    font-size: 2.5rem;
}

.footer  a{ 
    color: var(--white-color);
}

.footer  span{ 
    color: var(--secondary-color);
}

.close-menu{
    display: none
}

/*Carrousel session*/

/*Carrousel buttons sessions*/
.navigate-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    padding: 2.5rem;
    padding-bottom: 0;
}

.navigate-buttons a {
    font-size: 5rem;
    display: none;
}

.navigate-buttons a:hover {
    cursor: pointer;
}



/*MEDIA QUERY FOR Responsivines*/
@media (max-width: 800px) {  
    /*Carrousel Session*/
    .navigate-buttons a {
        display: flex;
    }
    

    .slide-show > :not(.displayed) {
        display: none;
        border: solid 1px red;
    }

    /*Sections contents rules*/  
    .menu ul li a {
        padding: 1rem;
    }

    .text-image-content, .grid {
        grid-template-columns: 1fr;
    }

    .contact-form {
        grid-column: span 1;
    }

    .image-content img {
        max-width: 90%;
        height: auto;
    }

    .gallery-image { 
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .grid-description {
        padding-bottom: 2rem;
    }

    .gallery-image img{
        width: 100%;
    }

    .menu {
        bottom: 0;
        text-align: center;
        display: none;
    }

    .menu-content {        
        height: 100vh;
    }

    .menu-content, .menu-content ul {
        flex-direction: column;
        justify-content: center;
    }

    h2 { 
        font-size: 3.5rem;
    }

    /*Mobile menu rules*/
    .menu {
        display: none;
    }

    .close-menu {
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
    }

    .close-menu-label::after {
        content: '≡' ;
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background-color: var(--primary-color);
        color: var(--white-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
        border-radius: 1rem;
        border: solid 1px var(--white-color);
    }

    /*Changes menu icon when clicked*/
    .close-menu:checked~.menu {
        display: block;
    }

    .close-menu:checked~.close-menu-label::after {
        display: block;
        content: '×';
    }

    .menu-spacing { 
        display: none;
    }
}




