/*Css Variables*/
:root {
    --primary-color: #0A1128;
    --white: #ffffff;
    --gap: 3rem;
}

/*Reset Css*/
* {
    margin: 0;
    padding: 0; 
}
/*Basic Fonts resize*/
html {
    font-size: 62.5%;
}

/*Fonts Defining*/
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

/*Fonts H1,2,3,4,5 and 6 fonts resizing*/
h1 { 
    font-size: 6rem;
    text-transform: uppercase;
}

h2 { 
    font-size: 5.5rem;
}
 
h3 { 
    font-size: 5rem;
}

h4 { 
    font-size: 4.5rem;
}

h5 { 
    font-size: 4rem;
}

h6 { 
    font-size: 3.5rem;
}

/*Backgrounds*/
.main-background {
    background-image: url(../img/main-background.svg);
    background-size: cover;
    background-position: center center;
    color: var(--white);
}

.white-background {
    background: var(--white);
}

.main-content { 
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--gap);
}

.section {
    min-height: 100vh;
}